<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StreetMangerSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>login.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>register.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommunityPresent</display-name>
    <servlet-name>CommunityPresent</servlet-name>
    <servlet-class>present.CommunityPresent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityPresent</servlet-name>
    <url-pattern>/CommunityPresent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StreetPresent</display-name>
    <servlet-name>StreetPresent</servlet-name>
    <servlet-class>present.StreetPresent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StreetPresent</servlet-name>
    <url-pattern>/StreetPresent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HousePresent</display-name>
    <servlet-name>HousePresent</servlet-name>
    <servlet-class>present.HousePresent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HousePresent</servlet-name>
    <url-pattern>/HousePresent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouseholdPresent</display-name>
    <servlet-name>HouseholdPresent</servlet-name>
    <servlet-class>present.HouseholdPresent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseholdPresent</servlet-name>
    <url-pattern>/HouseholdPresent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HouseholdmemberPresent</display-name>
    <servlet-name>HouseholdmemberPresent</servlet-name>
    <servlet-class>present.HouseholdmemberPresent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseholdmemberPresent</servlet-name>
    <url-pattern>/HouseholdmemberPresent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommunityInsert</display-name>
    <servlet-name>CommunityInsert</servlet-name>
    <servlet-class>community.CommunityInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityInsert</servlet-name>
    <url-pattern>/CommunityInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommunityDelete</display-name>
    <servlet-name>CommunityDelete</servlet-name>
    <servlet-class>community.CommunityDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityDelete</servlet-name>
    <url-pattern>/CommunityDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommunityQuery</display-name>
    <servlet-name>CommunityQuery</servlet-name>
    <servlet-class>community.CommunityQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityQuery</servlet-name>
    <url-pattern>/CommunityQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommunityUpdate</display-name>
    <servlet-name>CommunityUpdate</servlet-name>
    <servlet-class>community.CommunityUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommunityUpdate</servlet-name>
    <url-pattern>/CommunityUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StreetInsert</display-name>
    <servlet-name>StreetInsert</servlet-name>
    <servlet-class>street.StreetInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StreetInsert</servlet-name>
    <url-pattern>/StreetInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StreetDelete</display-name>
    <servlet-name>StreetDelete</servlet-name>
    <servlet-class>street.StreetDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StreetDelete</servlet-name>
    <url-pattern>/StreetDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StreetUpdate</display-name>
    <servlet-name>StreetUpdate</servlet-name>
    <servlet-class>street.StreetUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StreetUpdate</servlet-name>
    <url-pattern>/StreetUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StreetQuery</display-name>
    <servlet-name>StreetQuery</servlet-name>
    <servlet-class>street.StreetQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StreetQuery</servlet-name>
    <url-pattern>/StreetQuery</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filter</display-name>
    <filter-name>Filter</filter-name>
    <filter-class>filter.Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>